/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;

}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: rgb(34,34,34);
}

.img{
  padding-top: 20px;
}
