	table, th, td {
	    border: 3px solid black;
	}

	table {
		margin: 50px auto;
		border-collapse: collapse;
		background: #804000;
		align-self: center;
	}
	td {
	    width: 72px; height: 72px;
	}
	tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
		background: white;
	}

	.piece img{
		max-width: 55px;
		max-height: 55px;
		height: auto;
		width: auto;
		position: relative;
		margin: auto;
		display: block;
		padding: 3px;
<<<<<<< HEAD
	}
=======
	}
>>>>>>> cba8338c2fb14df129c4fa9ad55cbb42b5a99072
