.navbar.navbar-inverse{
	border-radius: 0;
  	margin-bottom:0;
}
.navbar-brand img{ 
    max-height: 28px;
    max-width: 210px;
    padding-bottom: 3px;
}
.hero {
  background: url('chess-bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:600px;
  box-shadow: 0px 3px 8px #2a2a2a;  
}
.box {
  background-color: rgba(0,0,0,0.2);
  width: 500px;
  padding:20px;
  margin-top:50px;
  text-align: center;
}
.box-text h1 {
  color: White;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 20;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
.box-text h2 {
  color: White;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 10;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}