@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);

h1, h2, h3, h4, h5, h6, .navbar {
   margin:0;
 }

.navbar.navbar-inverse{
	border-radius: 0;
  	margin-bottom:0;
}
.navbar-brand img{ 
    max-height: 28px;
    max-width: 210px;
    padding-bottom: 3px;
}
.hero {
  background: url('chess-bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:600px;
  box-shadow: 0px 3px 8px #2a2a2a;  
}
.box {
  background-color: rgba(0,0,0,0.2);
  width: 500px;
  padding:20px;
  margin-top:50px;
  text-align: center;
}
.box-text h1 {
  color: White;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 20;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
.box-text h2 {
  color: White;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 10;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
.booyah-box-devise {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px
}
.booyah-box-devise h2 {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: .5;
}
.btn-primary {
  font-family: 'Ubuntu';
  box-shadow: 0 2px 0 0 #fff;
}